<!-- main body section -->
<tr>
  <td style="margin: 0;text-align: center;display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;margin-top: 24px;font-weight: 500;font-size: 28px;">
    Hello, <%= username %>
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    <%= html %>
  </td>
</tr>
