<tr id="content-aria" style="width: 100%">
    <td style="padding:32px 32px 0; ">
      <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0; background-color: #FFFFFF">
        <tr>
          <td
            style="
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #4E4B66;
            padding: 0 32px 16px;
          ">
            Hi <%= email %>,
          </td>
        </tr>
        <tr>
          <td
            style="
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #4e4b66;
            padding: 0 32px 10px;
          "
          >
           <%= html %>
          </td>
        </tr>
        <tr>
          <td
            style="
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              color: #4e4b66;
              padding: 0 32px 0;
            "
          >
            See you later,
          </td>
        </tr>
        <tr>
          <td
            style="
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              color: #4e4b66;
              padding: 0 32px 10px;
            "
          >
            <%= siteName %>  Team
          </td>
        </tr>
      </table>
    </td>
  </tr>
