<!-- main body section -->
<tr>
  <td style="margin: 0;text-align: center;display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;margin-top: 24px;margin-bottom: 30px;font-weight: 500;font-size: 18px;">
    We’re sending this email because one of your blogs has been set to “available.”
    <br>
    -------------------------
  </td>
</tr>

<tr>
  <td style="margin: 0;text-align: center;display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;margin-top: 24px;margin-bottom: 30px;font-weight: 500;font-size: 18px;">
    Hello, <%= displayName %>
    <br>
    Thanks for listing your blog on Pouchfi website.
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    One of your blogs has been set to “Available.”
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    If you have any questions, please take a look at <a
      href="<%=siteUrl%>/faq"
    >our FAQ page</a> and feel free to contact us through
    <a
      href="<%=siteUrl%>/contact">our contact us form</a>.
  </td>
</tr>
