<!-- main body section -->
<tr>
  <td style="margin: 0;text-align: center;display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;margin-top: 24px;margin-bottom: 30px;font-weight: 500;font-size: 18px;">
    We’re sending this email because you registered a new blog on Pouchfi. We explain the blog publication process below.
    <br>
    -------------------------
  </td>
</tr>

<tr>
  <td style="margin: 0;text-align: center;display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;margin-top: 24px;margin-bottom: 30px;font-weight: 500;font-size: 18px;">
    Hello, <%= displayName %>
    <br>
    Thanks for registering your blog with Pouchfi. It’s great to have you on board!
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    Now that you’ve completed registration, our team is currently reviewing your blog. This process usually takes 0–1 weeks. Once your blog has been reviewed, we’ll send you another email with the published listing.
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    Please note that depending on the time of year and the total number of submissions, the blog review may take longer to complete. Thank you very much for your patience.
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    If you have any questions about the publishing process or Pouchfi, please take a look at <a
      href="<%=siteUrl%>/faq"
    >our FAQ page</a> and feel free to contact us through
    <a
      href="<%=siteUrl%>/contact">our contact us form</a>.
  </td>
</tr>
