<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    Your message wasn't delivered to <%= email %> because the address couldn't be found, or is unable to receive mail
  </td>
</tr>

<br>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    Email title: <%= title %>
  </td>
</tr>

<br>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    Email sent date & time: <%= datetime %>
  </td>
</tr>

<br>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    Email contents: <br>
    <%= contents %>
  </td>
</tr>
