<!-- main body section -->
<tr>
  <td style="margin: 0;text-align: center;display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;margin-top: 24px;margin-bottom: 30px;font-weight: 500;font-size: 18px;">
    We’re sending this email because one of your blogs has been set to “unavailable.” We explain the next steps below.
    <br>
    -------------------------
  </td>
</tr>

<tr>
  <td style="margin: 0;text-align: center;display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;margin-top: 24px;margin-bottom: 30px;font-weight: 500;font-size: 18px;">
    Hello, <%= displayName %>
    <br>
    Thanks for listing your blog with Pouchfi.
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    Your blog’s status has been set to “Unavailable.” If you didn’t do this yourself, then it may have been set automatically for one of the following reasons:
    <ul>
      <li>The content of the blog was modified</li>
      <li>A new tag was created</li>
    </ul>
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    As stated in the <a
      href="<%=siteUrl%>/faq"
    >Terms and conditions</a> if any of the above items are changed, both the supplier and Rakuten Travel Experiences must review and agree to the update(s). We’ll contact you again when we’re finished reviewing any changes.
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    If you have any questions, please take a look at <a
      href="<%=siteUrl%>/faq"
    >our FAQ page</a> and feel free to contact us through
    <a href="<%=siteUrl%>/contact">our contact us form</a>.
  </td>
</tr>
