<!-- main body section -->
<tr>
  <td style="margin: 0;text-align: center;display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;margin-top: 24px;margin-bottom: 30px;font-weight: 700;font-size: 28px;">
    Hello, <%= displayName %>
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    <%=inviteDisplayName%> (<%=inviteUserEmail%>) has invited you to join PouchFi
  </td>
</tr>

<!-- cta link -->
<tr align="center" style="padding:0;vertical-align:top;text-align:left" valign="top">
  <td align="center" valign="top" style="width: 100%;">
    <table align="center"
      style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;text-align:center;width:100%;border: 0;" valign="top"
    >
      <tr>
        <td style="margin: 0;text-align: center;display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;margin-bottom: 30px;">
          To get started, click on the button below:
        </td>
      </tr>
      <tr align="center" style="padding:0;vertical-align:top;text-align:center" valign="top">
        <td align="center" valign="top" class="block-cta" style="margin: 0;text-align: center;display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;padding: 8px 24px;width: 255px;height: 52px;background: #FFFFFF;border: 1px solid #718B28;box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.09);border-radius: 8px;color: #718B28;margin-bottom: 30px;">
          <a href="<%= link %>">
            Join Now
         </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="display: inline-block;word-wrap: break-word;vertical-align: top;border-collapse: collapse;box-sizing: border-box;width: 540px;margin: 0 auto 30px;font-weight: 500;font-size: 18px;line-height: 27px;text-align: center;" class="main-text">
    If you believe that this is a mistake and you did not intend to register, you can simply ignore this message. Nothing will happen.
  </td>
</tr>
